.sidebar-divider {
    border-top: 1px solid var(--ifm-color-gray-200);
    display: block;
    margin: 0.50rem 0 0.25rem 1rem;
  }
  
html[data-theme='dark'] .sidebar-divider {
  border-top: 1px solid var(--ifm-color-gray-800);
}

/* TEXT IN BORDER */
fieldset {
  border: 0;
  border-top: 1px solid var(--ifm-color-gray-200);
  display: block;
  padding-bottom: 0;
}

legend {
  font-size: medium;
  width: 50%;
  margin: 0 auto; /* center the fieldset horizontally */
  text-align: center;
  color: var(--ifm-color-gray-700);
}

.sidebar-title {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--ifm-color-gray-600);
}

html[data-theme='dark'] .sidebar-divider legend {
  color: var(--ifm-color-gray-200);
}

.add-banner {
  margin-top: 0.5rem;
}

.add-banner span {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--ifm-color-gray-600);
}

.add-banner img {
  display: block;
  max-width: 70px;
  margin-top: 0.25rem;
}

@media only screen and (max-width: 998px) {
  .sidebar-title,
  .add-banner {
    margin-left: 1rem;
  }
}


.box {
  display: flex;
  align-items: flex-start;
  text-align: center;
  margin: auto;
  height: 175px;
  width: 175px;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  box-shadow: -1px 5px 15px black;
}

.box .single-box img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  top: 0%;
  left: 0%;
  margin-top: 0;
  background: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: animate 90s infinite;
  animation: animate 90s infinite;
}

.box .single-box:nth-child(3) img {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.box .single-box:nth-child(2) img {
  -webkit-animation-delay: 30s;
  animation-delay: 30s;
}
.box .single-box:nth-child(1) img {
  -webkit-animation-delay: 60s;
  animation-delay: 60s;
}

/* html[data-theme='dark'] .box .single-box:nth-child(1) img {
  content:url("/img/hetzner.jpg");
}
html[data-theme='dark'] .box .single-box:nth-child(2) img {
  content:url("/img/hetzner.jpg");
}
html[data-theme='dark'] .box .single-box:nth-child(3) img {
  content:url("/img/hetzner.jpg");
}

html[data-theme='ligt'] .box .single-box:nth-child(1) img {
  content:url("/img/nordvpn.jpg");
}
html[data-theme='ligt'] .box .single-box:nth-child(2) img {
  content:url("/img/nordvpn.jpg");
}
html[data-theme='ligt'] .box .single-box:nth-child(3) img {
  content:url("/img/nordvpn.jpg");
} */

@keyframes animate {
  0%{
    transform: translateX(0);
  }
  33%{
    transform: translateX(0);
  }
  34%{
    transform: translateX(-100%);
  }
  66%{
    transform: translateX(-100%);
  }
  67%{
    transform: translateX(-200%);
  }
  100%{
    transform: translateX(-200%);
  }
}
